<h1>burgers!</h1>

<h2>burgers that are not devoured!</h2>

<ul>
  {{#each burgers}}
    {{#unless this.devoured}}
      {{> burgers/burger-block burger=this}}
    {{/unless}}
  {{/each}}
</ul>

<h2>burgers that are devoured!</h2>

<ul>
  {{#each burgers}}
    {{#if this.devoured}}
      {{> burgers/burger-block burger=this}}
    {{/if}}
  {{/each}}
</ul>

<h2>Add a burger</h2>
<form class="create-form" action="/api/burgers" method="post">

  <div class="form-group">
    <label for="ca">burger Name:</label>
    <input type="text" id="ca" name="name">
  </div>

  <button type="submit">Add burger</button>
</form>
